*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-bg-secondary {
    opacity: 0.8;
}

.bi-bootstrap {
    color: #ffffff;
    font-size: 50px;
    font-weight: 900;
}

.about-1 {
    font-size: 78px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.line-1 {
    color: #ffffff;
    border: 2px solid white;
}

.main-1 {
    height: 100vh;
}

.theSecondContainer {
    height: 100vh;
}

.theContainerProcess {
    height: 90vh;
}

.lead-span {
    font-size: 32px;
}

.block {
    height: 200px;
}

/*
.container-fluid {
    background-color: aquamarine;
}

#first {
    background-color: aquamarine;
    width: 1600px;
    height: 50vh;
}
*/

/*
.col {
    border: 80px solid #fff;
}
*/

.bi-twitter {
    color: #ffa500;
    font-size: 28px;
}

.bi-linkedin {
    font-size: 28px;
    color: #e5eef0;
}

.bi-bootstrap {
    font-size: 28px;
    color: #d7e3e6;
}

.bi-fan {
    font-size: 28px;
    color: #e8eeef;
}

.height-footer {
    height: 200px;
}

a {
    text-decoration: none;
}